name: CI_CD_Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up JDK 17
              uses: actions/setup-java@v2
              with:
                distribution: 'temurin'
                java-version: '17'

            - name: Build with Maven
              
              run: |
                cd java-maven-sonar-argocd-helm-k8s/spring-boot-app
                mvn clean package

            - name: Static Code Analysis
              env:
                   SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
              run: |
                    cd java-maven-sonar-argocd-helm-k8s/spring-boot-app
                    mvn sonar:sonar -Dsonar.login=$SONAR_TOKEN -Dsonar.host.url=http://100.27.189.225:9000/
            - name: Build and Push Docker Image
              env:
                DOCKER_IMAGE: "suresh772111/ultimate-cicd:${{ github.run_number }}"
                DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
                DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
              run: |
                cd java-maven-sonar-argocd-helm-k8s/spring-boot-app
                echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
                docker build -t "$DOCKER_IMAGE" .
                docker push "$DOCKER_IMAGE"       
            - name: Update Deployment Manifest
              env:
                GITHUB_USERNAME: ${{ secrets.GIT_USERNAME }}
                GITHUB_REPO_NAME: ${{ secrets.GIT_REPO_NAME }}
                GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
              run: |
                git config user.name "suresh77211"
                git config user.email  "suresh.edureka@gmail.com"
                BUILD_NUMBER=${{ github.run_number }}
                cd java-maven-sonar-argocd-helm-k8s/
                sed -i "s/replaceImagetag/${BUILD_NUMBER}/g" spring-boot-app-manifests/deployment.yaml
                git add "spring-boot-app-manifests/deployment.yaml"
                git commit -m "Update deployment file ${BUILD_NUMBER}"
                git push https://x-access-token//${GIT_TOKEN}@git:${GIT_USERNAME}/${GITREPO_NAME}.git HEAD:main
